.footer {
    @include adaptive-value("padding-top", 48, 20, 1);
    @include adaptive-value("padding-bottom", 48, 20, 1);

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .footer__logo

    &__logo {
        img,
        svg {
            width: 96px;

            @media (max-width: 768px) {
                width: 80px;
            }
        }
    }

    p {
        text-align: right;
        font-size: 12px;
        color: $dark-gray;

        span {
            display: block;
            text-transform: uppercase;
            margin-bottom: 2em;

            @media (max-width: 768px) {
                margin-bottom: 1em;
            }
        }

        a {
        }
    }
}
._container {
}
